body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  display: block;
  margin: 0 auto;
  width: 1104px;
}

.question, .back, .forward {
  display: block;
  float: left;
  font-size: 24pt;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: whitesmoke;
}

.question {
  width: 1024px;
  text-align: center;
}

.forward {
  text-align: right;
}

.back, .forward {
  width: 40px;
  cursor: pointer;
}

.back::before {
  content: '<';
}

.forward::after {
  content: '>';
}

.languages {
  display: block;
  float: right;
  margin: -40px 0;
  padding-right: 10px;
}

#languages dl {
  display: inline-flex;
  color: whitesmoke;
}

#languages dt {
  display: inline-block;
  margin: 0px 0px 0px 0.2rem;
  cursor: pointer;
}

#languages dt::after {
  content: ' |';
}

#languages dt:last-child::after {
  content: '';
}

.backdrop {
  margin: 100px 0;
  padding: 50px 0;
  background-color: #005e34;
  width: 100%;
  height: 200px;
}